@import "_colores.scss";

/******** Generales *******/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: $colorDos;
    
}

/******* Clases *******/
/******* Clases Home *******/

.homeConteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeTxt{
    text-align: center;
    align-items: center;
    
}
.homeMargin{
    margin: 2em;
}
.homeImg{
    border-radius: 10%; 
    transition: all 1s;
    height: 20%;
    
}

.txtAlign{
    @extend .homeConteiner;
    
}

.marginFondo{
    padding-bottom: 4rem;
}
/******* Clases clientes *******/
.cliente{
    font-size: 1.5em;
    text-align: center;
    color: $colorCuatro;
    letter-spacing: 0.125em;
    margin-top: 0.5em;
}
.opinion{
    font-size: 1.75em;
    margin:0 auto ;
    text-align: center;
    width: 70%;
    color: $colorCuatro;
}
.clientMarginBackground{
    margin: 10% 0 ;
    background-color: $colorTres;
    padding: 10% 0;
    
}

.fixBs{
    font-weight: bold;
    line-height: normal;
    
}

/******* Clases catalogo *******/
.displayMad{
    @extend .homeConteiner;
}
.maderasIndi{
    margin-top: 2em;
}
.marginPasos{
    margin: 2em 0;
}

.pasos{
    font-size: 2em;
    text-align: center;
    padding-top: .5em;
}  

.pasoDos{
    font-size: 1.5em;
    text-decoration: none;
}

.pasoTres{
    font-size: 2em;
    text-decoration: none;
    background-color: $colorTres;
    width: 50%;
    line-height: 3rem;
    font-weight: bold;
    border-radius: 25px;
    padding: 2em;
    margin:2em 2em 0px 2em;
}
.maderasImg{
    @extend .homeConteiner;
    width: 40%;
    margin: 0px auto;
    border-radius: 20%;
}
.centerP{
    text-align: center;
}



.boton1{
    font-size: 1em;
    background-color: $colorTres;
    color: $colorUno;
    padding: 0.8em 0.5em;
    border-radius: 10px ;
    margin-bottom: 2em;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s;
    padding: 1em;
    
    &:hover{
        outline: $colorDos solid 3px;
        transform: scale(1.05);
    }

    &:visited{
        color: $colorUno;
    }
}



@mixin boton($color) {
    background-color: $color;
    @extend .homeConteiner;
    border-radius: 25px;
    padding: 1em 0px;
}

.wsp{
    @include boton(#42cf42);
    width:50%;
    transition: all 0.5s;

    &:hover{
        outline: $colorUno solid 3px;
        transform: scale(1.05);
    }
}

.instagram{
    @include boton(#ff8d6b);
    width:50%;
    transition: all 0.5s;

    &:hover{
        outline: $colorUno solid 3px;
        transform: scale(1.05);
    }
}

.redes{
    @extend .homeConteiner;
    width: 55%;
    margin: 0px auto;
    padding-bottom: 2em;
}

.iconify { width: 2em; height: 2em; }
/******* Clases nosotros *******/
.imgNos{
    border:4px solid $colorTres;
    border-radius: 5%;    
}
.displayNos{
    @extend .homeConteiner;
    margin:2em;
    align-items: center;
}
#grilla{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,400px);
    justify-content: center;
    grid-template-areas: 
    "area1 area2" 
    "area1 area3"; 
}

#box1{
    grid-area: area1;
    @extend .homeConteiner;
    img{
        width: 50%;
        border-radius: 25px;
        border: 3px $colorTres solid;
        margin: 1em 0;
    }

    
}

#box2{
    grid-area: area2;
    @extend .homeConteiner;
    flex-flow:column;
    text-align: center;
    overflow: auto;
    line-height: 1.6em;
    h3{
        margin-bottom: 1em;
        font-size: 1.5em;  
    }
    p{
        margin: 0px auto;
        font-size:1.3em ;
        width: 80%;
    }
}

#box3{
    grid-area: area3;
    @extend .homeConteiner;
    flex-flow: column;
    text-align: center;
    overflow: auto;
    line-height: 1.6em;
    border-top: 3px solid $colorTres;
    h3{
        margin-bottom: 1em;
        font-size: 1.5em;
    }
    p{
        min-width: none;
        margin: 0px auto;
        font-size:1.3em ;
        width: 80%;
    }
}

/******* Clases contactanos *******/

#form{
    display: flex;
    flex-flow: column;
}

.formCent{
    margin: 0px auto;
    padding-bottom: 2em;
}

label{
    font-weight: bold;
}

.formPseudo{

    margin: 1.5em 0 1em;

    &:focus{
     
        border: 5px solid rgba(77, 107, 241, 0.5);
    }
      
}

/******* Clases error *******/
.displayError{
    display: flex;
    flex-flow: column;
    justify-content: center;
}



/******* Secciones *******/
/******* Header *******/
header {
    background-color: $colorCuatro;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
    padding: 2% 5%;
    img{
        border-radius: 50%;
        width: 100%;
    }
    a{
        width:5%;
        margin-right: 1em;

    }
    h1{
        color: $colorTres;
        font-family: 'Bebas Neue', cursive;
        font-size: 0.4em; 
    }
}
/******* Barra de navegacion *******/
nav{    
    ul{
        @extend .homeConteiner;
        background-color: $colorDos;
        list-style: none;
        text-align: center;
        padding: 16px;
        height: 25px;
        box-sizing: content-box;
        margin: 0px;
        line-height: normal;
    }
    a{
        color: $colorTres;
        text-decoration: none;
        transition: all .2s;
        &:visited{
            color: $colorTres;
        }
        
        
        
    }

    li{
        width: 10%;
        margin: 0 1.5em 0 1.5em;
        
    }
}

.transition:hover{
    border-top: $colorTres solid 3px;
    border-bottom: $colorTres solid 3px;
    transform: scale(1.1); 
}
/******* Main *******/
main{
    margin: 0px auto;
    background-color: $colorCuatro;
    width: 90%;  
}
main h2{
    font-size: 2.5em;
    text-align: center;
    padding: 1em 0;
    border-bottom: $colorTres 5px solid;
    
}
main img{
    width: 30%;
}
main a{
    color: black;
}
main a:visited{
    color: black;
}
main label{
    font-size: 1.5em;
}
main form {
    margin-top: 2em;
    margin-left: 15%;
    margin-right:15%;
    width: 70%;
    text-align: center;
}
main figcaption{
    text-align: center;
    padding: 1em;
}


/******* Footer *******/

footer{
    background-color: $colorDos;
    max-height: 100px;
    
    a{ 
        @extend .homeConteiner;
        color: $colorTres;
        text-decoration: none;
        padding: 1em;

        &:visited{
            color: $colorTres;
        }
    }
}

/******* Media query *******/

@media only screen and (max-width:600px){
    /******* Secciones *******/
    /******* Header *******/
    header{
        justify-content: center;
        padding: 0px;
        a{
        width: 10%;
        margin: 0px;
    }
        h1{
        display: none;
    }
    }
    /******* Navegacion *******/

    nav{
        ul{
            height: 100%;
            display: block;
            line-height: 2em;
            }    
        li{
            width: 100%;
            display: flex; 
            justify-content: center;
            margin: 0px 0px 0px 0px;
        }   
    
    
        a{
            margin: 0px auto;
            font-size: .8em;
        }
    }

    /******* Main *******/
    main{
        h2{
            font-size: 1.5em;
        }
    }

    /******* Clases Home *******/

    .homeConteinerMedia{
        margin-top: 3.5em;
        height:33%;
    }
    
    .homeImg{
        width:50%;
    }
    
    .homeTxt{
        width: 100%;
        font-size: 1.2em;
    }

    .txtAlign{
        width: 60%;        
    }


    /******* Clases Nosotros *******/    

   #grilla{
       display: none;
   }

   #box3, #box2{
       height: 500px;
   }

   /******* Clases Catalogo *******/
   .pasoTres{
       font-size: 1.5em;
       width: 60%;
   }
   
}

@media only screen and (min-width:600px){
    /******* Secciones *******/
    /******* Header *******/
    header {
        h1{
            font-size: 1.8em;
        }
        a{
            width: 10%;
        }
    }

    /******* Navegacion *******/
    nav{ 
        a{
            font-size: .8em;  
        }
    }

    /******* Clases Home *******/
    .homeConteinerMedia{
        margin-top: 3.5em;
        height:33%;
    }
    .homeImg{
        width:50%;
    }
    .homeTxt{
        width: 100%;
        font-size: 1.5em;
    }
    .txtAlign{
        width: 60%;        
    }

     /******* Clases Nosotros *******/    

   #grilla{
       display: none;
   }

   #box3, #box2{
       height: 500px;
   }
   
    
}



@media only screen and (min-width:760px){
    /******* Secciones *******/
    /******* Header *******/
    
    header{

        a{
            width: 10%;
        }
        
        h1{
            font-size: 2em;
        }
    }
    /******* Navegacion *******/
    nav{ 
        a{
            font-size: .8em;
        }
    }
   

    /******* Clases Home *******/
    .homeConteinerMedia{
        margin-top: 3.5em;
        height:33%;
    }
    .homeImg{
        width:50%;
    }
    .homeTxt{
        width: 100%;
        font-size: 1.5em;
    }
    .txtAlign{
        width: 60%;        
    }
    /******* Clases Nosotros *******/

    .carouselpol{
        display: none;
    }

    #grilla{
        padding-bottom: 1em;
        display: grid;
    }
    
    #box3, #box2{
        height: 400px;
    }
    
    #box1{
        img{
            width: 80%;
    
        }
    }
}

@media only screen and (min-width:992px){
    /******* Secciones *******/
    header{

        a{
            width:5%;
        }
        
    }
    
    /******* Navegacion *******/
    nav{ 
        a{
            font-size: 1.2em;
        }
    }
    
    /******* Clases Home *******/
    .homeImg{
        width: 40%;
    }
    .homeTxt{
        width: 80%;
        font-size: 2.5em;
    }
    .txtAlign{
        width: 40%;
    }

    /******* Clases Nosotros *******/

    
    #box1{ 
        img{
            width: 60%;
    
        }
    }
}

